* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --background-color: #C5e4e7;
    --input-text-color: #00474B;
    --primary-white: #fff;
    --calculated-numbers-color: #26C2AE;
    --input-title-color: #5E7A7D;
    --input-background-color: #F3F9FA;
    --input-icon-color: #9EBBBD;
    --title-text-color: #3D6666;
    --custom-input-color: #547878;
}

.body {
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

